html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

ul {
	list-style-type: none;
	-webkit-padding-start: 0;
}


#product-section {

}

#product-box li {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.product-image {
	padding: 0 25px;
}

.product-image img{
	max-height: 100%;
	max-width: 100%;
}

.product-box {
	padding: 5px;
	height: 350px;
}

#basket {
	padding: 0px;
}

	#basket h2 {
		margin-top: 0px;
	}

	#basket li {
		padding: 0px 10px;
		margin-bottom: 5px;
	}

#basket-footer {
	padding: 10px;
}